<div class="threshold-lines-demo" {{did-insert this.addThresholds}}>
  <div class="d3-graph" {{d3-time-series 
    chartData=this.chartData
    d3Config=this.d3Config
    thresholdConfig=this.thresholds}}>
  </div>
</div>