<h2 id="title">Ember D3 modifiers demo</h2>
<h3>These demos are taken directly from D3 v7.*</h3>
{{outlet}}
<div class="demo-selection">
  <div class="left-hand-selection">
    <div>
      <LinkTo @route="d3-v7-sourced-demos.tooltip">Tooltip demo</LinkTo>
    </div>
  </div>

  <div class="right-hand-selection">
  </div>
</div>
<hr>
<div>
  <LinkTo @route="generic-series.line-chart-demo">See generic demos</LinkTo>
</div>
<div>
  <LinkTo @route="time-series.line-chart-demo">See time series demos</LinkTo>
</div>
