<h2 id="title">Ember D3 modifiers demo</h2>
<h3>Generic series (the x axis is numeric)</h3>
{{outlet}}
<div class="demo-selection">
  <div class="left-hand-selection">
    <div>
      <LinkTo @route="generic-series.line-chart-demo">Line chart demo</LinkTo>
    </div>
  </div>

  <div class="right-hand-selection">
  </div>
</div>
<hr>
<div>
  <LinkTo @route="time-series.line-chart-demo">See time series demos</LinkTo>
</div>
<div>
  <LinkTo @route="d3-v7-sourced-demos.tooltip">See demos sourced from D3 itself for comparison</LinkTo>
</div>